{% extends 'base.html.twig' %}

{% block title %}Edit Bag{% endblock %}

{% block body %}
    <h1>Edit Bag</h1>

    {{ include('bag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bag_index') }}">back to list</a>

    {{ include('bag/_delete_form.html.twig') }}
{% endblock %}
